.albums-the_album-name {
}

.albums-the_album-artist {
	font-style: italic;
}

.albums-the_album-thumbnail {
	width: 100%;
	height: 30%;
}

.albums-the_album-description {
	font-size: 95%;
	font-style: italic;
	color: #050505;

	width: 100%; 
  min-width:100%; 
  max-width:100%; 

  height:200px; 
  min-height:120px;  
  max-height:120px;
  border:none;
  overflow: hidden;
  resize:none;
}

.albums-the_album-song-list {
	padding: 0 !important;
  margin: 0 !important;
}

.albums-the_album-review {
	font-size: 1em;
	padding: 0 !important;
  margin: 0 !important;
}

.score-overall {
	font-style: italic;
	font-weight: lighter;
}