.farfa-check-squar e{
	size: 5px;
}

#pic {
	float:left;
	border:2px solid black;
	width: 200px;
	height: 200px;
	margin-right: 1rem;
}

h2 {
	float:right;
}

#favorite {
	padding-left: 120px;
}
#play-icon {
	text-align: center;
}

.textbox {
	margin-left: 200px;
}
