{% extends "base.html" %}
{% load static %}

{% block title %}Albums{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/album.css' %}">{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<p>Albums</p>
	</div>
	<div class="col-sm-12">

		{% if albums %}
			{% for album in albums %}
				<p><a href="{{album.get_absolute_url}}">
					<img class="albums-album-art" src="{{album.image_url}}" width=100px height=100px> {{album.name}}
				</a></p>
			{% endfor %}

		{% else %}
			<p>No Albums</p>
		{% endif %}
{% endblock %}