{% extends "base.html" %}
{% load static %}

{% block title %}Albums{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/album.css' %}">{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<p>Albums</p>
	</div>
	<div class="col-sm-12">

		{% for i in list %}
			<p>{{i}}</p>
		{% endfor %}

		{% if albums %}
			{% for album in albums %}
				<table class="img-thumbnail">
					<th>
					</th>
					<tbody>
						<a href="{{album.get_absolute_url}}">
						<img class="img-thumbnail d-block albums-album-art" src="{{album.image_url}}" width=100px height=100px> {{album.name}}
					</tbody>
				</table>
				</a></p>
			{% endfor %}

		{% else %}
			<p>No Albums</p>
		{% endif %}
{% endblock %}