{% extends "base.html" %}
{% load static %}

{% block title %}Album{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/album.css' %}">{% endblock %}

{% block content %}
<br>
<div class="row">
  <!-- Left Half: Album information -->
  <div class="col-sm-5">
    <div class="container-fluid">
      <!-- Album Name / Artist Name -->
      <div class="row">
        <div class="col-sm-12">
          <h5 class="albums-the_album-name">{{the_album.name}}</h5>
          <h6 class="albums-the_album-artist">{{the_album.artist}}</h6>
        </div>
      </div>
      <!-- Album Image / Overall Score -->
      <div class="row">
        <div class="col-sm-6">
          <p><img class="img-thumbnail albums-the_album-thumbnail" src="{{the_album.image_url}}"></p>
        </div>
        <div class="col-sm-6">
          <h4><span class="badge badge-pill badge-primary score-overall">
            {% if review_critic or review_user %}
            Overall Score<br>
              {{review_rating_overall}} / {{review_user_rating_perfect}}</span></h4>
            {% else %}
              No reviews yet!
            {% endif %}
        </div>
      </div>
      <!-- Album Description -->
      <div class="row">
        <div class="col-sm-12">
          <textarea class="albums-the_album-description">{{the_album.description}}</textarea>
        </div>
      </div>
      <!-- Song List in the album -->
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover table-condensed albums-the_album-song-list">
            <thead>
              <tr>
                <th>Song List</th>
              </tr>
            </thead>
            <tbody>
              {% if song_list %}
                {% for song in song_list %}
                  <tr>
                    <td><a href="{{song.get_absolute_url}}">{{forloop.counter}}. {{song.name}}</a></td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>  
        </div>
      </div>
    </div>
  </div>
  
  <!-- Right Half: Review information -->
  <div class="col-sm-7">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

        </div>
      </div>

      <!-- Critic Score -->
      {% if review_critic %}
      <div class="row">
        <div class="col-sm-12">
          <h4><span class="badge badge-pill badge-danger">Critic Score : {{review_critic_rating_average}} / {{review_critic_rating_perfect}} </span></h4>
        </div>
      </div>
      <!-- Review Table -->
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover table-condensed albums-the_album-review">
            <thead>
              <tr>
                <th >Review</th>
                <th >Song</th>
                <th >Review</th>
                <th >Score</th>
              </tr>
            </thead>
            <tbody>
                {% for review in review_critic %}
                  <tr>
                    <td class="col-sm-1">{{review.description}}</td>
                    <td class="col-sm-1">{{review.song}}</td>
                    <td class="col-sm-8">{{review.user}}</td>
                    <td class="col-sm-1">{{review.rating}}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      <!-- User Score -->
      {% if review_user %}
      <div class="row">
        <div class="col-sm-12">
          <h4><span class="badge badge-pill badge-success">User Score : {{review_user_rating_average}} / {{review_user_rating_perfect}} </span></h4>
        </div>
      </div>
      <!-- Review Table -->
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover table-condensed albums-the_album-review">
            <thead>
              <tr>
                <th >Review</th>
                <th >Song</th>
                <th >User</th>
                <th >Score</th>
              </tr>
            </thead>
            <tbody>
                {% for review in review_user %}
                  <tr>
                    <td class="col-sm-1">{{review.description}}</td>
                    <td class="col-sm-1">{{review.song}}</td>
                    <td class="col-sm-8">{{review.user}}</td>
                    <td class="col-sm-1">{{review.rating}}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      
    </div>
  </div>
</div>
{% endblock %}
<!--

              <tr>
                <td>Danny Park</td>
                <td>A massive, sprawling and wildly uneven album</td>
                <td>
                  8/10
                </td>
              </tr>
              <tr>
                <td>Joe Sweeny</td>
                <td>A beautiful masterpiece!</td>
                <td>
                  10/10
                </td>
              </tr>
              <td>Daniel Macdonald</td>
              <td>I love how it comes with basically two different moods. Dawn to dusk and twlight to moon light.</td>
              <td>
                8/10
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <p>
            <h4>
              <span class="badge badge-success">User Score : 87 / 100</span>
            </h4>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th class="col-sm-1">User</th>
                <th class="col-sm-6">Review</th>
                <th class="col-sm-5">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Aric Huang</td>
                <td>Definitely highly recommended.</td>
                <td>
                  8/10
                </td>
              </tr>
              <tr>
                <td>Cameron Scigliano</td>
                <td>Mellon Collie is an amazing work of art! It has an unforgetable sound and vibe.</td>
                <td>
                  10/10
                </td>
              </tr>
              <tr>
                <td>Tommy Do</td>
                <td>The drums and bass are louder in the mix and great clarity in vocals and sound. </td>
                <td>
                  6/10
                </td>
              </tr>
            </tbody>
          </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>
              <p>
                <h3>
                  <span class="badge badge-primary">Critic Score : 95 / 100</span>
                </h3>
              </p>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="row">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>
              Song List
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mellon Collie and the Infinite Sadness</td>
          </tr>
          <tr>
            <td>Tonight, Tonight</td>
          </tr>
          <tr>
            <td>Jellybelly</td>
          </tr>
          <tr>
            <td>Zero</td>
          </tr>
          <tr>
            <td>Here Is No Why</td>
          </tr>
          <tr>
            <td>Bullet With Butterfly Wings</td>
          </tr>
          <tr>
            <td>To Forgive</td>
          </tr>
          <tr>
            <td>Fuck You (An Ode to No One)</td>
          </tr>
          <tr>
            <td>Love</td>
          </tr>
          <tr>
            <td>Cupid de Locke</td>
          </tr>
          <tr>
            <td>Galapogos</td>
          </tr>
          <tr>
            <td>Muzzle</td>
          </tr>
          <tr>
            <td>Porcelina of the Vast Oceans</td>
          </tr>
          <tr>
            <td>Take Me Down</td>
          </tr>
          <tr>
            <td>Where Boys Fear to Tread</td>
          </tr>
          <tr>
            <td>Bodies</td>
          </tr>
          <tr>
            <td>Thirty-Three</td>
          </tr>
          <tr>
            <td>In the Arms of Sleep</td>
          </tr>
          <tr>
            <td>1979</td>
          </tr>
          <tr>
            <td>Tales of a Scorched Earth</td>
          </tr>
          <tr>
            <td>Thru the Eyes of Ruby</td>
          </tr>
          <tr>
            <td>Stumbleine</td>
          </tr>
          <tr>
            <td>X.Y.U.</td>
          </tr>
          <tr>
            <td>We Only Come out at Night</td>
          </tr>
          <tr>
            <td>Beautiful</td>
          </tr>
          <tr>
            <td>Lily (My One and Only)</td>
          </tr>
          <tr>
            <td>By Starlight</td>
          </tr>
          <tr>
            <td>Farewell and Goodnight</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
-->