{% extends "base.html" %}
{% load static %}

{% block title %}Artist{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/artist.css' %}">{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-5">

    <div class="main-section">
      <h2 class="header">{{artist.name}}</h2>
      <img class="artist-image" src="images/young thug.jpg">
    </div>

    <div class="main-section">
      <h2 class="header">Popular Albums</h2>
      <div class="row titles">
        <div class="col-4">
          <h4 class="scores">Album</h4>
        </div>
        <div class="col-4">
          <h4 class="scores">Critic Score</h4>
        </div>
        <div class="col-4">
          <h4 class="scores">User Score</h4>
        </div>
      </div>
      <div class="row album-entry">
        {% for album in albums %}
        <div class="col-2">
          <img class="album-entry-image" src="{{album.image_url}}">
        </div>
        <div class="col-4">
          <p class="album-entry-name">{{album.name}}</p>
        </div>
        <div class="col-3">
          <p class="album-entry-critic-score">63/100</p>
        </div>
        <div class="col-3">
          <p class="album-entry-user-score">68/100</p>
        </div>
        {%endfor%}
      </div>
      
      <!--
      <div class="row album-entry">
        <div class="col-2">
          <img class="album-entry-image" src="images/thugger.jpg">
        </div>
        <div class="col-4">
          <p class="album-entry-name">Beautiful Thugger Girls</p>
        </div>
        <div class="col-3">
          <p class="album-entry-critic-score">72/100</p>
        </div>
        <div class="col-3">
          <p class="album-entry-user-score">75/100</p>
        </div>
      </div>

      <div class="row album-entry">
        <div class="col-2">
          <img class="album-entry-image" src="images/jeffery.jpg">
        </div>
        <div class="col-4">
          <p class="album-entry-name">Jeffery</p>
        </div>
        <div class="col-3">
          <p class="album-entry-critic-score">93/100</p>
        </div>
        <div class="col-3">
          <p class="album-entry-user-score">96/100</p>
        </div>
      </div>

      <div class="row album-entry">
        <div class="col-2">
          <img class="album-entry-image" src="images/slime3.jpg">
        </div>
        <div class="col-4">
          <p class="album-entry-name">Slime Season 3</p>
        </div>
        <div class="col-3">
          <p class="album-entry-critic-score">90/100</p>
        </div>
        <div class="col-3">
          <p class="album-entry-user-score">94/100</p>
        </div>
      </div>

      <div class="row album-entry">
        <div class="col-2">
          <img class="album-entry-image" src="images/up.jpg">
        </div>
        <div class="col-4">
          <p class="album-entry-name">I'm Up</p>
        </div>
        <div class="col-3">
          <p class="album-entry-critic-score">84/100</p>
        </div>
        <div class="col-3">
          <p class="album-entry-user-score">73/100</p>
        </div>
      </div>
    -->

    </div>
  </div>
  <div class="col-sm-4">
    <div class="bio-section">
      <h2 class="header">Bio</h2>
      <p class="bio">{{artist.bio}}</p>
    </div>
    <div class="top-songs-section">
      <h2 class="header">Top Songs</h2>
      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/birds.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Pick Up The Phone </p>
        </div>
      </div>

      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/havana2.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Havana (feat. Young Thug)</p>
        </div>
      </div>

      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/thugger.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Relationship (feat. Future)</p>
        </div>
      </div>

      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/slimey.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Patek Water (feat. Offset)</p>
        </div>
      </div>

      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/jeffery.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Wyclef Jean</p>
        </div>
      </div>

      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/friend.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Best Friend</p>
        </div>
      </div>

      <div class="row top-songs-entry">
        <div class="col-3">
          <img class="top-song-image" src="images/life.jpg">
        </div>
        <div class="col-9">
          <p class="top-song-name">Ice Melts</p>
        </div>
      </div>


    </div>

  </div>
  <div class="col-sm-3">
    <div class="related-artists">
      <h2 class="header">Related Artists</h2>
      <div class="row related-artist-entries">
        <div class="col-3">
          <img class="related-artist-image" src="images/future.jpg">
        </div>
        <div class="col-9">
          <p class="related-artist-name">Future</p>
        </div>
      </div>

      <div class="row related-artist-entries">
        <div class="col-3">
          <img class="related-artist-image" src="images/travis.jpg">
        </div>
        <div class="col-9">
          <p class="related-artist-name">Travis Scott</p>
        </div>
      </div>

      <div class="row related-artist-entries">
        <div class="col-3">
          <img class="related-artist-image" src="images/Migos.png">
        </div>
        <div class="col-9">
          <p class="related-artist-name">Migos</p>
        </div>
      </div>

      <div class="row related-artist-entries">
        <div class="col-3">
          <img class="related-artist-image" src="images/ferg.jpg">
        </div>
        <div class="col-9">
          <p class="related-artist-name">A$AP Ferg</p>
        </div>
      </div>

      <div class="row related-artist-entries">
        <div class="col-3">
          <img class="related-artist-image" src="images/gucci.jpg">
        </div>
        <div class="col-9">
          <p class="related-artist-name">Gucci Mane</p>
        </div>
      </div>

      <div class="row related-artist-entries">
        <div class="col-3">
          <img class="related-artist-image" src="images/ty.jpg">
        </div>
        <div class="col-9">
          <p class="related-artist-name">Ty Dolla $ign</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
