{% extends "base.html" %}
{% load static %}

{% block title %}Critic{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/critic.css' %}">{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-9">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p>
         {% if curr_critic.profile_pic != null %}
        <img src="{{curr_critic.profile_pic}}" width:250px height:250px>
        {% else %}
        <img src = "\static\images/empty_Person.jpg" style="width:250px; height:250px">
        {% endif %}
        </p>
        <div class="row">
          <h6> Organization: {{curr_critic.organization}}
			</h6>
        </div>
        <div class="row">
          <h5>
            Ratings Given This Month: {{review_count}}
          </h5>
        </div>
      </div>

      <div class="col-sm-3">
        <h1>
        	{{curr_critic.name}}
        </h1>
        <div class="row">
          <div class="span8">
            {{curr_critic.bio}}
          </div>
        </div>
        <div class="row align-items-end">
          Average score: {{average_rating}} /100
        </div>
      </div>
      <div class="col-sm-1">
        <p>
          <h5>
            <span class="badge badge-secondary">Certified critic: Yes
            </span>
          </h5>
        </p>
      </div>
    </div>

  </div>
</div>


<div class="col-sm-3">
  <p>
    <h4>
      Similar Critics
      </h4>
      {% if critics %}
      {% for critic in critics %}

    <h6>{{forloop.counter}}
      <a class="empty_Person" href="{{critic.get_absolute_url}}"> 
      	{% if critic.profile_pic != null %}
      	<img src="{{critic.profile_pic}}" width:75px height:75px>
      	{% else %}
      	<img src = "\static\images/empty_Person.jpg" style="width:75px; height:75px">
      	{% endif %}
      	{{critic.name}}

      </a>
    </h6>
    {% endfor %}
    {% endif %}
  </p>

</div>
</div>

<div class="row">
  <div class="col-sm-5">
    <h2>
      Recent Reviews
    </h2>
  </div>
</div>
<div class="row">
	{% if song_reviews %}
      {% for review in song_reviews %}
  <div class="col-sm-5">
    <img src="{{review.song.album.image_url}}" style="width:60px; height:60px;" align:left>
    <h5><a href = {{review.song.get_absolute_url}}>
      {{review.song.name}}
  	</a>
    </h5>
    <h7>
      {{review.rating}}/100
          </h7>
    <p>
      {{review.description}}
    </p>
  </div>
  {% endfor %}
    {% endif %}
</div>
{% endblock %}
