{% extends "base.html" %}
{% load static %}

{% block title %}Critic{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/critic.css' %}">{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-9">
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-4">
        <p>
          <img src="\static\images/empty_Person.jpg" style="width:250px;height:250px;"></img>
        </p>
        <div class="row">
          <h2>
            Organization: Rolling Stones
          </h2>
        </div>
        <div class="row">
          <h5>
            Ratings Given This Month: 14
          </h5>
        </div>
      </div>

      <div class="col-sm-3">
        <h1>
          Critic 1
        </h1>
        <div class="row">
          <div class="span8">
            I am an authorized critic here and this is my bio.
          </div>
        </div>
        <div class="row align-items-end">
          Average score: 65 &#9733;&#9733;&#9733;&#9734;&#9734;
        </div>
      </div>

      <div class="col-sm-2">
        <p>
          <h5>
            <span class="badge badge-secondary">Certified critic: Yes
            </span>
          </h5>
        </p>
      </div>
    </div>

  </div>
</div>


<div class="col-sm-3">
  <p>
    <h4>
      Similar Critics
      </h4>
      {% if critics %}
      {% for critic in critics %}

    <h6>{{forloop.counter}}
      <a class="empty_Person" href="{{user.name.get_absolute_url}}"> 
      	<img src="\static\images/empty_Person.jpg" style="width:75px; height:75px;"> {{critic.name}}
      </a>
    </h6>
    {% endfor %}
    {% endif %}
  </p>

</div>
</div>

<div class="row">
  <div class="col-sm-5">
    <h2>
      Recent Reviews
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <img src="\static\images/klamar.jpg" alt="Kendrick" style="width:60px; height:60px;" align:left>
    <h5><a href = {{song.get_absolute_url}}>
      {{song.name}}
  	</a>
    </h5>
    <h7>
      91/100 &#9733;&#9733;&#9733;&#9733;&#9734;
    </h7>
    <p>
      This is a good rating.
    </p>
  </div>
  <div class="col-sm-4">
    <img src="\static\images/tswift.jpg" alt="Taylor Swift" style="width:60px;height:60px;" align:left>
    <h5>
      Reputation
    </h5>
    <h7>
      24/100 &#9733;&#9734;&#9734;&#9734;&#9734;
    </h7>
    <p>
      This is a bad rating.
    </p>
  </div>
</div>
{% endblock %}
