{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    
    <div class=" home-section">
      <h2 class="home-section-header">New Releases</h2>

      {% if new_releases %}
        {% for album in new_releases %}

        <div class="row home-sidebar-entry">
          <div class="col-3">
            <img class="home-sidebar-entry-album-art" src="{{album.image_url}}" />
          </div>
          <div class="col-9">
            <p class="home-sidebar-entry-album">{{album.name}}</p>
            <p class="home-sidebar-entry-artist">{{album.artist.name}}</p> 
          </div> 
        </div>

        {% endfor %}

      {% else %}
        <p>None yet!</p>
      {% endif %}
    
    </div>

    <div class="home-section">
      <h2 class="home-section-header">Upcoming Releases</h2>

      {% if upcoming_releases %}
        {% for album in upcoming_releases %}

        <div class="row home-sidebar-entry">
          <div class="col-3">
            <img class="home-sidebar-entry-album-art" src="{{album.image_url}}" />
          </div>
          <div class="col-5">
              <p class="home-sidebar-entry-album">{{album.name}}</p>
              <p class="home-sidebar-entry-artist">{{album.artist.name}}</p> 
          </div> 
          <div class="col-3">
            <p>{{album.release_date}}</p> 
          </div>
        </div>

        {% endfor %}

      {% else %}
        <p>None yet!</p>
      {% endif %}

    </div>

  </div>

  <div class="col-sm-8">
    <div class="home-section">
      <h2 class="home-section-header">Search</h2>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="home-section">
      <h2 class="home-section-header">Trending Songs</h2>

      {% if trending %}
        {% for song in trending %}

        <div class="row home-trending-entry">
          <div class="col-sm-1">{{forloop.counter}}</div>
          <div class="col-sm-5">{{song.name}}</div>
          <div class="col-sm-5">{{song.album.artist.name}}</div>
          <div class="col-sm-1"><i class="fas fa-arrow-up"></i></div>
        </div>

        {% endfor %}

      {% else %}
        <p>None yet!</p>
      {% endif %}
    
    </div>
  </div>

</div>
{% endblock %}