{% extends "base.html" %}
{% load static %}

{% block title %}Song{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/song.css' %}">{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <div class="container-fluid">
	        <div class="row">
                <div class="col-sm-12">
          <h5>{{ song.name }}</h3>
          <h6><a href="{{song.album.artist.get_absolute_url}}">{{song.album.artist}}</a></h5>
		  <h6> {{song.genre}} </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            <img src={{song.album.image_url}} height="250" width="300" id="Picture">
          </p>
        </div>
		</div>
		<div class="row">
            <div class="col-sm-12">
          <p id="Description"> Description: {{song.description}} </p>
            </div>
        </div>
		<div class="row">
	        <div class="col-sm-12">
    
      <p id="AlbumLink">
        Link to Album is:
        <a href="{{song.album.get_absolute_url}}">{{song.album}}</a>
      </p>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>
              Other Songs in the Album:
            </th>
          </tr>
        </thead>
		<tbody>
		{% for album_song in album_songs %}
          <tr>
            <td>
              <a href="{{album_song.get_absolute_url}}">{{album_song.name}}</a></td>
			</td>
          </tr>
		{% endfor %}
		</tbody>
</table>		
    </div>
  </div>
  </div>
  </div>
  
  <!-- right half -->
    <div class="col-sm-7">
        <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
		  </div>
		</div>
        <div class="row">
            <div class="col-sm-12">
            <p>
              <h4>
            {% if user.is_authenticated %}
              <a href="{{song.id}}/reviewcreate">Write a Review</a>
            {% endif %}
              </h4>
              <h3>
            {% if song_reviews_critics %}
                <span class="badge badge-success">Critic Score: {{review_user_rating_average_critic}}/{{review_user_rating_perfect}} </span>
            {% else %} 
			    <span class="badge badge-success">Critic Score: {{review_user_rating_average_critic}} </span>
            {% endif %}
              </h3>
            </p>
			</div>
        </div>
		<div class="row">
            <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-sm-1">Review</th>
                  <th class="col-sm-6">Critic</th>
                  <th class="col-sm-5">Score</th>
                </tr>
              </thead>
              <tbody>

			  {% if song_reviews_critics %}
				{% for critic_review in song_reviews_critics %}
                <tr>
				<td>{{critic_review.description}}</td>
                  <td><a href="{{critic_review.user.get_absolute_url}}">{{critic_review.user.profile.name}}</a></td>
                  
                  <td>{{critic_review.rating}}</td>
                </tr>
				{% endfor %}
			{% endif %}
              </tbody>
            </table>
            </div>
		</div>

        <div class="row">
            <div class="col-sm-12">
            <p>
              <h3>
            {% if song_reviews_users %}
                <span class="badge badge-success">User Score: {{review_user_rating_average_user}}/{{review_user_rating_perfect}}</span>
            {% else %} 
                <span class="badge badge-success">Critic Score: {{review_user_rating_average_user}} </span>
            {% endif %}
              </h3>
            </p>
			</div>
		</div>
		<div class="row">
            <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-sm-1">Review</th>
                  <th class="col-sm-6">User</th>
                  <th class="col-sm-5">Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
		    {% if song_reviews_users %}
                {% for user_review in song_reviews_users %}
                <tr>
				<td>{{user_review.description}}</td>
                  <td><a href="{{user_review.user.get_absolute_url}}">{{user_review.user}}</a></td>
                  
                  <td>
                    {{user_review.rating}}</td>
				{% endfor %}
                </tr>
			{% endif %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}
