{% extends "base.html" %}
{% load static %}

{% block title %}Song{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/song.css' %}">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-8">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
		
          <h3>{{ song.name }}</h3>
		
          <h5><a href="{{song.album.artist.get_absolute_url}}">{{song.album.artist}}</a></h5>
		  
		  <h6> {{song.genre}} </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <p>
            <img src={{song.album.image_url}} height="350" width="400" id="Picture">
          </p>
        </div>
        <div class="col-sm-5">
          <p id="Description"> Description: {{song.description}} </p>
          
        </div>
      </div>

      <div class="row">
        <div class="row">
          <div class="col-sm-6">
            <p>
              <h3>
                <span class="badge badge-success">Critic Score: 90.00</span>
              </h3>
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-sm-1">Critic</th>
                  <th class="col-sm-6">Review</th>
                  <th class="col-sm-5">Score</th>
                </tr>
              </thead>
              <tbody>
			 {% for critic_review in song_reviews}
                <tr>
                  <td><a href="{{critic_review.user.get_absolute_url}}">{{critic_review.user}}</a></td>
                  <td>{{critic_review.description}}</td>
                  <td>
                    {{critic_review.rating}}</td>
                </tr>
			{% endfor %}
              </tbody>
            </table>
          </div>

          <div class="col-sm-6">
            <p>
              <h3>
                <span class="badge badge-success">User Score: 80.00</span>
              </h3>
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-sm-1">User</th>
                  <th class="col-sm-6">Review</th>
                  <th class="col-sm-5">Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                {% for user_review in song_reviews}
                <tr>
                  <td><a href="{{user_review.user.get_absolute_url}}">{{user_review.user}}</a></td>
                  <td>{{user_review.description}}</td>
                  <td>
                    {{user_review.rating}}</td>
                </tr>
			{% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">

      <p id="AlbumLink">
        Link to Album is:
        <a href="{{song.album.get_absolute_url}}">{{song.album}}</a>
      </p>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>
              Related Songs:
            </th>
          </tr>
        </thead>
		<tbody>
		{% for album_song in album_songs %}
          <tr>
            <td>
              <a href="{{album_song.get_absolute_url}}">{{album_song.name}}</a></td>
			</td>
          </tr>
		{% endfor %}
		</tbody>
</table>		
    </div>
  </div>
</div>
{% endblock %}
