{% extends "base.html" %}
{% load static %}

{% block title %}User{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/user.css' %}">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h1>Profile 
      {% ifequal request.user.id user.id %}
        {% if user.profile.organization %}
          <u><a href="{% url 'edit_critic' %}" style="font-size: 20px;">Edit</a></u>
        {% else %}
          <u><a href="{% url 'edit_trackspotter' %}" style="font-size: 20px;">Edit</a></u>
        {% endif %}
      {% endifequal %}
    </h1>
  </div>
  <div class="col-lg-6">
    <h1 id="favorite">Highest-Rated Songs</h1>
  </div>
</div>

<!-- Row that contains Profile and Favorite Songs -->
<div class="row">
  <!-- Profile -->
  <div class="col-lg-6 profile">
    <div class='col-lg-4'>
      <img id="pic" src=https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/male/45.png>
    </div>
    <div class="col-lg-8 textbox" style="width:200px; height:200px">
      <p>Name: {{user.profile.name}}</p>
      <p>Location: {{user.profile.location}}</p>
      {% if user.profile.organization %}
      <p>Organization: {{user.profile.organization}}</p>
      {% endif %}
      <p>Number of Reviews: {{user.review_set.all.count}}</p>
    </div>
    <div style="width:400px">
      <p>{{user.profile.bio}}</p>
    </div>
  </div>
  <!-- Favorite Songs -->
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-4">
        <b>Name</b>
      </div>
      <div class="col-lg-4">
        <b>Artist</b>
      </div>
      <div id="play-icon" class="col-lg-4">
        <b>Play</b>
      </div>
    </div>
    {% for review in user.profile.sorted_reviews %}
    <div class="row">
      {% if review.album %}
        <div class="col-lg-4"><a href="{{review.album.get_absolute_url}}">{{review.album}}</a></div>
        <div class="col-lg-4"><a href="{{review.album.artist.get_absolute_url}}">{{review.album.artist}}</a></div>
      {% else %}
        <div class="col-lg-4"><a href="{{review.song.get_absolute_url}}">{{review.song}}</a></div>
        <div class="col-lg-4"><a href="{{review.song.album.artist.get_absolute_url}}">{{review.song.album.artist}}</a></div>
      {% endif %}
      
      <div id="play-icon" class="col-lg-4">
        <i class="far fa-play-circle"></i>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Row that contains Reviews -->
<div class="row">
  <div class="col-lg-12">
    <h1>Reviews</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <b>Song/Album</b>
  </div>
  <div class="col-lg-8">
    <b>Review</b>
  </div>
  <div class="col-lg-2">
    <b>Rating</b>
  </div>
</div>
{% for review in user.review_set.all %}
<div class="row">
  {% if review.album %}
    <div class="col-lg-2"><a href="{{review.album.get_absolute_url}}">{{review.album}}</a></div>
  {% else %}
    <div class="col-lg-2"><a href="{{review.song.get_absolute_url}}">{{review.song}}</a></div>
  {% endif %}
  <div class="col-lg-8">{{review.description}}</div>
  <div class="col-lg-1">{{review.rating}}</div>
  {% ifequal request.user.id user.id %}
  <div class="col-lg-1"><a href="">Edit</a></div>
  {% endifequal %}
</div>
{% endfor %}
{% endblock %}


