/* Layout */

section1 {
	float: left;
	width: 60%;
	padding-left: 8em;
	padding-top: 4em;
}

section2 {
	float: left;
	width: 25%;
	padding-right: 2em;
	padding-top: 4em;
}

h {
	font-weight: bold;
}

.user_info {
	background-color: #DCDCDC;
	border: 1px solid #D3D3D3;
}

.other-critics > li {
	background-color: #DCDCDC;
	border: 1px solid #D3D3D3;
	font-size: 25px;
	border-bottom: 1px solid white;
}

li.seven {
	border-bottom: 1px solid #D3D3D3;
}

img.empty_Person {
	padding-left: 5px;
	padding-top: 3px;
}

.stats {
	background-color: #DCDCDC;
	border: 1px solid #D3D3D3;
	border-top: none;
}

section2 {
	padding-left: 1em;
}

p.review {
	padding: 2px;
	border: 1px solid #D3D3D3;
	font-size: 20px;
	background-color: #DCDCDC;
}

h.user_Name {
	font-size: 30px;
	padding-left: 5px;
}

h.ratings_this_month {
	border-bottom: 1px solid #D3D3D3;
}

h.average_ratings {
	border-bottom: 1px solid #D3D3D3;
}