div h1 {
	font-size: 50pt;
	text-align: center;
}

img#Picture {
	margin-left: 10px;
}

table#Reviews {
	margin-left: 10px;
	background-color: #eee;
	border: 3px solid black;
}

th {
	font-size: 20pt;
}

td {
	border: 1px solid black;
}

p#Description {
	word-wrap: break-word;
	width: 300px;
	font-size: 10pt;
	display: inline-block;
}

table#AggregateScore {
	background-color: #eee;
	font-size: 20pt;
}

p#AlbumLink {
	font-size: 18pt;
}

ul#RelatedSongs {
	font-size: 18pt;
}

p#RelatedTitle {
	font-size: 18pt;
}